<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- Each track will be shown here -->
 


    {{#each category.tracks}}

     <div class="card">
  <header class="card-header">
    <p class="card-header-title">{{title}}</p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>

<div class="card-content">
    <div class="content">
  <div class="columns">
    <div class = "column is-3 ">
      <p><span class=" has-text-weight-bold">Location Name:</span><br>{{title}} </p>
      <p><span class="has-text-weight-bold">Geolocation (long/lat):</span><br>{{long}} / {{lat}}  </p>
      <p><span class="has-text-weight-bold">Address:</span><br> {{address}} </p>
      <p><span class="has-text-weight-bold">Phone number:</span><br> {{phone}} </p>
      
    </div>
    <div class = "column is-5 pr-5 pb-4 ">
      <p><span class="has-text-weight-bold">Country:</span><br> {{country}} </p>
      <p><span class="has-text-weight-bold">Website:</span><br><span style = "word-wrap: break-word;">  <a href="{{website}}" target="_blank" class="has-text-grey">{{website}}</a>  </span> </p>
      <p><span class="has-text-weight-bold">Description:</span><br> {{description}} </p>
    </div>
    <div class = "column is-4 ">
      <p><span class="has-text-weight-bold ">Map Placeholder:</span><br> 
      <iframe class="mt-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19694.431967599397!2d-8.4167813!3d51.901040949999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48449bee2f866ab1%3A0x4b0e792b7b212ab7!2sDistrict%20Health%20%26%20Leisure!5e0!3m2!1sen!2sie!4v1739290933254!5m2!1sen!2sie" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade
"  height="220"style="border:0; white; box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </p>
      

    </div>
   
  </div>
  </div>
  </div>
  <footer class="card-footer">
    <a href="/category/{{../category._id}}/deletetrack/{{_id}}" class="button card-footer-item">
    <span class="icon is-small">
          <i class="fas fa-solid fa-edit"></i>
        </span>
    </a>
    <a href="/category/{{../category._id}}/deletetrack/{{_id}}" class="button card-footer-item">
    <span class="icon is-small">
          <i class="fas fa-solid fa-trash"></i>
        </span>
    </a>
  </footer>
  </div>




      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <div class="card has-background-black card-image">
          <figure class="image is-256-256 m-auto">
            <img src="{{../imageCode}}" alt="Mossel Dish Food On Table" border="0"/>
          </figure>
        </div>
        </td>
        <td>
          <!-- Since we are inside the track env, we need to go up of one level to its parent category,
          that is why we use the {{../category._id}}-->
        <a href="/category/{{../category._id}}/deletetrack/{{_id}}" class="button">
        <span class="icon is-small">
          <i class="fas fa-solid fa-trash"></i>
        </span>
        </a>
      </td>
      </tr>
    {{/each}}
  </tbody>
</table>