<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- Each track will be shown here -->
    {{#each category.tracks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <div class="card has-background-black card-image">
          <figure class="image is-256-256 m-auto">
            <img src="{{../imageCode}}" alt="Mossel Dish Food On Table" border="0"/>
          </figure>
        </div>
        </td>
        <td>
          <!-- Since we are inside the track env, we need to go up of one level to its parent category,
          that is why we use the {{../category._id}}-->
        <a href="/category/{{../category._id}}/deletetrack/{{_id}}" class="button">
        <span class="icon is-small">
          <i class="fas fa-solid fa-trash"></i>
        </span>
        </a>
      </td>
      </tr>
    {{/each}}
  </tbody>
</table>